.container {
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 768px) {
  .container {
    padding-inline: 40px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    padding-inline: 60px;
  }
}