.product-detail {
  padding-block: 60px;
}

@media screen and (min-width: 768px) {
  .product-detail {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem; 
  }
}

@media screen and (min-width: 768px) {
  .product-detail {
    padding-block: 80px;
  }
}

@media screen and (min-width: 992px) {
  .product-detail {
    padding-block: 120px;
  }
}


.product-detail img {
  border-radius: 4px;
  object-fit: cover;
  width: 100%;
  height: 50vh;
}

@media screen and (min-width: 768px) {
  .product-detail img {
    max-width: 350px;
    height: 550px;
  }
}

.product-detail h1 {
  font-size: 40px;
  line-height: 1.5;
  margin-block: 1rem;
}

@media screen and (min-width: 768px) {
  .product-detail h1 {
    margin-block-start: 0;
    font-size: 60px;
  }
}

@media screen and (min-width: 992px) {
  .product-detail h1 {
    font-size: 100px;
  }
}

.product-info {
  margin-block-start: 0;
  margin-block-end: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-secondary {
  font-size: 20px;
  font-family: var(--font-secondary);
}

@media screen and (min-width: 768px) {
  .text-secondary {
    font-size: 28px;
  }
}

.text-tertiary {
  font-size: 20px;
  background-color: var(--tertiary-color);
  padding: 6px 20px;
}

@media screen and (min-width: 768px) {
  .text-tertiary {
    font-size: 28px;
  }
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quantity-container {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--text-secondary-color);
  width: max-content;
}

.quantity-container input {
  font-size: 1rem;
  padding: 5px 10px;
  border-radius: 4px;
  border: none;
  outline: none;
  width: 40px;
  text-align: center;
  color: var(--text-color);
  background-color: transparent;
}

.quantity-container button {
  padding: 0;
  font-size: 1.5rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: grid;
  place-items: center;
  width: 40px;
  height: 40px;
  color: var(--text-color);
}

.quantity-container button:hover {
  background-color: var(--tertiary-color);
}

.quantity-container button:disabled {
  color: var(--text-secondary-color);
}

.add-to-cart-button {
  padding: 8px 20px 10px;
  font-size: 0.9rem;
  line-height: 1.5;
  font-family: var(--font-secondary);
  border: 2px solid var(--primary-color);
  color: var(--text-color);
  cursor: pointer;
  position: relative;
  text-transform: uppercase;
  background-color: transparent;
}

.add-to-cart-button:hover {
  color: var(--primary-color);
}

.add-to-cart-button:disabled {
  color: var(--text-secondary-color);
}

@media screen and (min-width: 768px) {
  .text-secondary {
    font-size: 1.2rem;
  }
}

.cart-product-message {
  color: var(--secondary-color);
  font-size: 0.75rem;
}

.product-comments{
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 4px;
  background-color: #031836;
  margin-bottom: 2rem;
}

.product-comments .user-details{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.date{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.user-comment p{
  font-size: 0.9rem;
  line-height: 1.5;
}

.date span:first-child{
  color: var(--primary-color);
  font-size: 1.2rem;
  cursor: pointer;
}

.date span:first-child:hover{
  color: var(--secondary-color);
}

.date span:last-child{
  font-size: 0.8rem;
  color: var(--text-secondary-color);
}

.product-comments li{
 background-color: #062855;
  padding: 1rem;
}

.product-comments ul{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.product-comments img{
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}

.product-comments .options{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.options span{
  color: var(--tertiary-color);
  cursor: pointer;
}

.options a{
  text-decoration: none;
  color: var(--primary-color);
  cursor: pointer;
}

.options a:hover{
  color: var(--secondary-color);
}

